body{
    background-color: #e3e3e3;
    font-family:  Arial, 'Lucida Sans Unicode';
    line-height: 1.5;
    color: #000305;
    font-size: 12px;
    width: 100%;
    height: auto;
    margin: 0;
}
a{
    text-decoration: none;
}
a:link, a:visited{
    color: #000305;
}
a:hover, a:active{
    background-color: #C05A40;
    color: #ffffff; 
}
.container{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    clear: both;
}
/*HEADER*/
.main-header{
    background-color:  #C05A40;
    margin: 0 auto;
    width: 100%;
    height: auto;
    float: left;
}
.main-header nav{
    background-color: #4D4D4D;
    height: 40px;
}
.main-header nav ul{
    list-style: none;
    margin: 0 auto;

}
.main-header nav ul li{
    display: inline;
    float: left;
}
.main-header nav a:link, .main-header nav a:visited{
    color: #fff;
    display: inline-block;
    padding: 10px 25px;
    height: 20px;
}
.main-header nav a:hover, .main-header nav a:active,
.main-header nav .active a:link, .main-header nav .active a:visited{
   background-color: #C05A40;
   text-shadow: none;
}

/*DROPDOWN BUTTON*/
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 12px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

 a:hover, .dropdown:hover .dropbtn {
    background-color: #C05A40;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4D4D4D;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #4D4D4D;
}

.dropdown:hover .dropdown-content {
    display: block;
}



/*CONTENT*/
.main-content{
    background-color: #ffffff;
    margin-top: 0;
    width: 100%;
    height: auto;
    float: left;
}
/*FOOTER*/
.main-footer{
    background-color: #4D4D4D;
    width: 100%;
    height: 5%;
    text-align: center;
    color: #C05A40;
}
.main-footer a{
    color: #ffffff;
}

/*Home Page*/
.home-page{
    background-color: #ffffff;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-align: center;
    padding: 5%;
    margin: 10% 5%;
}
.greet{
    font-size: 24px;
}

/*Html Page*/
.html-page{
    background-color: #ffffff;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-align: left;
    margin: 2% 5%;
    padding: 0 1%;
}
.html-page img{
    width:800px;
}
.html-page a{
    color: #C05A40;
}
.html-page a:hover{
    background-color: #C05A40;
    color: #000305;
}

/*CSS PAGE*/

.css-page{
    background-color: #ffffff;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-align: left;
    margin: 2% 5%;
    padding: 0 1%;
}
.css-page img{
    width: 800px;
}
.css-page a{
    color: #C05A40
}
.css-page a:hover{
    background-color: #C05A40;
    color: #000305;
}





/*REFERENCE PAGE*/

.reference-page{
    background-color: #ffffff;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-align: left;
    margin: 10% 5%;
    padding: 0 1%;
}
.reference-page a{
    color: #C05A40;
}
.reference-page a:hover{
    background-color: #C05A40;
    color: #000305;
}

/*WORDPRESS PAGE*/
.wordpress-page{
    background-color: #ffffff;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-align: left;
    margin: 10% 5%;
    padding: 0 1%;
}

.wordpress-page img{
    width: 800px;
}
.wordpress-page a{
    color: #C05A40;
}

@media only screen and (min-width:150px) and (max-width:1200px){
    .body{
        width: 90%;
        font-size: 10px;
    }

    /*NAVIGATION*/
    .main-header nav{
        height: 200px;
    }
    .main-header nav ul{
        padding-left: 0;
    }
    .main-header nav ul li{
        text-align: center;
        width: 100%;
    }
    .main-header nav a:link, .main-header nav a:visited{
        display: block;
        padding: 10px 25px;
        height: 20px;
    }


    /*PAGES*/

    .html-page img{
        width:100%;
    }
    .css-page img{
        width: 100%;
    }
    .wordpress-page img{
        width: 100%;
    }

}

